- content_for :title, "講師編集"
%div.container
  %h1 講師編集
  = render "form"
  %div
    = link_to "戻る", teachers_root_path, class: class_names("btn btn-secondary my-3")
    = link_to "参照", teachers_profile_path, class: class_names("btn btn-secondary my-3")
